<nav>
  <div class="header-left">
    <span class="nav-logo">
      Dashboard UTP
    </span>
    <span>
      <mat-icon fontIcon="search"></mat-icon>
    </span>
    <mat-form-field appearance="fill">
      <input matInput class="nav-search" placeholder="Busqueda">
    </mat-form-field>
  </div>
  <div class="container">
    <ul class="nav-option">
      <li>Opcion 1</li>
      <li>Opcion 2</li>
      <li>Opcion 3</li>
      <li>Opcion 4</li>
    </ul>
  </div>

  <div class="header-right">
    <mat-icon fontIcon="notifications"></mat-icon>
    <mat-icon fontIcon="email"></mat-icon>
    <mat-icon fontIcon="account_circle"></mat-icon>
</div>
</nav>
